#!/usr/bin/env bash
alias l="ls -G"
alias ls="ls -G"
alias ll="ls -lh"
alias la="ls -A"
alias lla="ls -lAh"
alias t="touch"
alias c="clear"
alias rrf="rm -rf"
alias du="du -h"
alias v="nvim"
alias hs="history | grep"
alias xx="exit"
alias lsd="ls -d */"
alias ttt="tmux attach -t default || tmux new -s default"
alias ..="cd .."
# python
alias python="python3"
alias p="python3"
alias pip="pip3"
# C/C++
alias gcc="gcc -Wall -pedantic -g"
alias clang="clang -Wall -pedantic -g"
alias g++="g++ -Wall -pedantic -g"
alias clang++="clang++ -std=c++17 -Wall -pedantic -g"
# tmux
alias tas="tmux attach-session -t"
# docker
alias dcsi="docker container start -i"
alias dcs="docker container start"
# git
alias gadd="git add"
alias gcomm="git commit -m"
